<%- include("partials/header"); -%>
    <title>About Me</title>
  </head>
  <body>
    <h1 class="home">Samuel Menaged</h1>
    <img class="shira" src="Professional.jpg" alt="Professional photo">
          <h1 class="CS"><em>Computer Science Student</em></h1>
          <p class="CS"> I study Computer Science at University of Central Florida. I truly enjoy learning new things in Computer Science and love watching videos on YouTube related to computer Science.</p>

          <hr>

          <div class="post">
            <h1>Favorite Videos, Books, and Channels</h1>
            <p>
              <ul>
                  <li><a href="https://en.wikipedia.org/wiki/The_Cuckoo%27s_Egg" target="_blank">Cuckoo's Egg</a> - Book by Clifford Stoll</li>
                  <br>
                  <li><a href="https://www.youtube.com/user/lexfridman" target="_blank">Lex Fridman</a> - Computer Science Podcaster on Youtube</li>
                  <br>
                  <li><a href="https://www.youtube.com/channel/UC0e3QhIYukixgh5VVpKHH9Q" target="_blank">Code Bullet</a> - Makes cool AI for games</li>
                  <br>
                  <li><a href="https://www.youtube.com/watch?v=ExwqNreocpg" target="_blank">QR Code Game</a> - Video where MattKC makes the game Snake fit on a QR code, its really cool</li>
                  <br>
                  <li><a href="https://www.youtube.com/watch?v=myO8fxhDRW0&t=706s" target="_blank">Moving BasketBall Hoop</a> - Video from "Stuff Made Here" YouTube channel. He makes a Basketball hoop that moves to the ball when you try to shoot.</li>
              </ul>
            </p>
          </div>

          <hr>

          <div class="post">
            <h1>Hobbies</h1>
            <p>
              <ul>
                  <li>Lifting Weights</li>
                  <br>
                  <li>Udemy/Youtube Courses</li>
                  <br>
                  <ol>
                    <ul>
                      <li>Web Development course by Angelu Yu</li>
                      <li>Python Course by Colt Steele</li>
                      <li>CS50 Harvard Course by David J. Malan</li>
                    </ul>
                  </ol>
                  </ul>
            </p>
          </div>
<%- include("partials/footer"); -%>
