<%- include("partials/header"); -%>
  <div class="home-message">
    <h1 class = "home">Samuel Menaged</h1>
      <img class="shira" src="Professional.jpg" alt="Professional photo">
    <p class="intro"> Welcome to my online resume! If you would like to contact me click <a href="/contact-me">here</a> To check out more of my projects click  <a href="/projects">here</a></p>
  </div>

 <hr>

    <div class="post">
      <h1>Education</h1>
      <p>
        <ul>
            <li>University of Central Florida - 2020 - 2022</li>
            <br>
            <ol>
              <ul>
                <li>Computer Science</li>
                <li>Python Club</li>
                <li>Web Development</li>
              </ul>
            </ol>
            <br>
            <li>Broward College - 2018 - 2020</li>
            <br>
            <ol>
              <ul>
                <li>Computer Science</li>
              </ul>
            </ol>
            </ul>
      </p>
    </div>

    <hr>



    <div class="post">
          <h1>Experience</h1>
      <table class="experience-table" cellspacing="15">
        <thead>
          <tr>
            <th>Dates</th>
            <th>Work</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2019-2020 </td>
            <td class="position"> Assistent Personal Training Director at LA Fitness</td>
          </tr>
          <tr>
          <td>2015 - 2019</td>
          <td>IT Intern at Engler Engineering</td>
          </tr>
          <tr>
            <td>2013-2015</td>
            <td>Customer Service at Publix Supermarkets</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <div class="post">
      <h1>Skills</h1>
      <table cellspacing="10">
  <tr>
    <td>
      <table>
      <tr>
      <td>Java</td>
      <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>C</td>
      <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>BootStrap</td>
      <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    </table>
  </td>
    <td>
      <table>
      <tr>
      <td>CSS</td>
      <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td>⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>MongoDB</td>
      <td>⭐️⭐️⭐️</td>
    </tr>
    <tr>
      <td>Express.js</td>
      <td>⭐️⭐️⭐️⭐️</td>
    </tr>
    </table>
  </td>

  <td>
    <table>
    <tr>
    <td>React.js</td>
    <td>⭐️⭐️⭐️</td>
  </tr>
  <tr>
    <td>Authentication/Security</td>
    <td>⭐️⭐️⭐️⭐️</td>
  </tr>
  <tr>
    <td>Problem Solving</td>
    <td>⭐️⭐️⭐️⭐️⭐️</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>⭐️⭐️⭐️⭐️</td>
  </tr>
  </table>
</td>
  </tr>
</table>

<hr>

<div class="post">
  <h1>Projects</h1>
  <p>
    <ul>
        <li>To-Do-List</li>
        <br>
        <ol>
          <ul>
            <li>Utilizing: Node.JS, MongoDB, Express.JS, and CSS/Bootstrap</li>
            <li>Helped keep me organized for my classes, and it kept track of how long it took me to complete my assignments.</li>
            <li><a href="https://engler-to-do-list.herokuapp.com/" target="_blank">Project Link</a></li>
            <li><a href="https://github.com/Samuelmm97/NodeJS-To-Do-List" target="_blank">GitHub Link</a></li>
          </ul>
        </ol>
        <br>
        <li>Message Board</li>
        <br>
        <ol>
          <ul>
            <li>Utilizing: Node.JS, MongoDB, ejs, and CSS/Bootstrap</li>
            <li>Experience in creating an interactive page that users can add to. </li>
            <li><a href="https://node-js-forum.herokuapp.com/" target="_blank">Project Link</a></li>
            <li><a href="https://github.com/Samuelmm97/Forum" target="_blank">GitHub Link</a></li>
          </ul>
        </ol>
        <li>Login Secret</li>
        <br>
        <ol>
          <ul>
            <li>Utilizing: Bcrypt, Passport, Node.JS, MongoDB, Express.JS, and CSS/Bootstrap</li>
            <li>Experience with authentication and security to hide a secret message behind a user’s account. Only the user and anyone with his/her password can see the secret message. </li>
            <li><a href="https://node-js-secret-project.herokuapp.com/" target="_blank">Project Link</a></li>
            <li><a href="https://github.com/Samuelmm97/Secret-project" target="_blank">GitHub Link</a></li>
          </ul>
        </ol>
        </ul>
  </p>
</div>

<%- include("partials/footer"); -%>
