<%- include("partials/header"); -%>
    <title>Projects</title>
  </head>
  <h1 class="home">Projects</h1>
  <a href="https://node-js-secret-project.herokuapp.com/" target="_blank"><img class="project" src="project.png" alt=""></a>
  <div class="post">
    <h1>Projects</h1>
    <p>
      <ul>
          <li>To-Do-List</li>
          <br>
          <ol>
            <ul>
              <li>Utilizing: Node.JS, MongoDB, Express.JS, and CSS/Bootstrap</li>
              <li>Helped keep me organized for my classes, and it kept track of how long it took me to complete my assignments.</li>
              <li><a href="https://engler-to-do-list.herokuapp.com/" target="_blank">Project Link</a></li>
              <li><a href="https://github.com/Samuelmm97/NodeJS-To-Do-List" target="_blank">GitHub Link</a></li>
            </ul>
          </ol>
          <br>
          <li>Message Board</li>
          <br>
          <ol>
            <ul>
              <li>Utilizing: Node.JS, MongoDB, ejs, and CSS/Bootstrap</li>
              <li>Experience in creating an interactive page that users can add to. </li>
              <li><a href="https://node-js-forum.herokuapp.com/" target="_blank">Project Link</a></li>
              <li><a href="https://github.com/Samuelmm97/Forum" target="_blank">GitHub Link</a></li>
            </ul>
          </ol>
          <li>Login Secret</li>
          <br>
          <ol>
            <ul>
              <li>Utilizing: Bcrypt, Passport, Node.JS, MongoDB, Express.JS, and CSS/Bootstrap</li>
              <li>Experience with authentication and security to hide a secret message behind a user’s account. Only the user and anyone with his/her password can see the secret message. </li>
              <li><a href="https://node-js-secret-project.herokuapp.com/" target="_blank">Project Link</a></li>
              <li><a href="https://github.com/Samuelmm97/Secret-project" target="_blank">GitHub Link</a></li>
            </ul>
          </ol>
          <li>Text Prediction</li>
          <br>
          <ol>
            <ul>
              <li>Written in C</li>
              <li>Experience with Tries, given words, and number of inputs can predict the next letter in a prefix as long as an input matches it. </li>
              <li><a href="https://repl.it/@sammymenaged/textPrediction" target="_blank">Repl.it link</a></li>

            </ul>
          </ol>
          <li>Procrastinator</li>
          <br>
          <ol>
            <ul>
              <li>Writtin in C</li>
              <li>Experience with priority queues using max heaps. Builds a schedule that helps you Procrastinate as long as possible</li>
              <li><a href="https://repl.it/@sammymenaged/Procrastination" target="_blank">Repl.it Link</a></li>
            </ul>
          </ol>
          <li>Assembler</li>
          <br>
          <ol>
            <ul>
              <li>Written in C</li>
              <li>Experience with MIPS assembly language. Check the readme.txt for instructions </li>
              <li><a href="https://repl.it/@sammymenaged/Assembler#main.c" target="_blank">Repl.it Link</a></li>

            </ul>
          </ol>
          </ul>
    </p>
  </div>
<%- include("partials/footer"); -%>
